<div class="input-group searcher">
    <input type="text" class="form-control"  placeholder="Enter Keyword for filter result" [(ngModel)]="searchedKeyword">
    <span class="input-group-append">
        <div class="input-group-text bg-transparent">🔍</div>
    </span>
</div>

<div class="image-list imageContainer" lazy-load-images>
        <div *ngFor="let imageJSON of imageJSON_List | imageFilter: searchedKeyword">
            <div class="row">
                <div class="col-xl-6 col-sl-12">
                    <img [attr.data-src]='imageJSON.photo' class="imgJSON">
                </div>
                <div class="col-xl-6 col-sl-12">
                    <p class="figure-caption">{{imageJSON.text}}</p>
                </div>
            </div>
        </div>
</div>